:root {
  --orange: hsl(25, 97%, 53%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}
::selection {
  color: var(--very-dark-blue);
  background-color: var(--light-grey);
}
body {
  height: 90dvh;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Overpass", sans-serif;
  background:var(--very-dark-blue); 
}
main {
  max-width: 320px;
  border-radius: 1rem;
  background-color: var(--dark-blue);
}
.star-div {
  background-color: hsla(213, 6%, 35%, 0.185);
  padding: 0.8rem 1rem;
  border-radius: 6rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  padding: 1.5rem;
}
#ratings div h1 {
  font-size: 1.5rem;
  font-weight: 900;
}
#ratings div p {
  font-size: 0.85rem;
  color: var(--light-grey);
}
.buttons-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.ratings-num {
  width: 44px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  color: var(--light-grey);
  border: 1px solid var(--dark-blue);
  background-color: hsla(213, 25%, 34%, 0.301);
}
.ratings-num:focus,
.ratings-num:focus-visible {
  color: white;
  background-color: var(--medium-grey);
}
.ratings-num:hover {
  color: white;
  cursor: pointer;
  background-color: var(--orange);
}
#message {
  align-items: center;
  text-align: center;
}
#message h1 {
  color: var(--orange);
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  border-radius: 2rem;
  background-color: hsl(213, 19%, 28%);
}
#message div p {
  font-size: 0.8rem;
  color: var(--light-grey);
}
.submit-btn {
  cursor: pointer;
  color: white;
  font-weight: 700;
  border-radius: 4rem;
  text-transform: uppercase;
  background-color: var(--orange);
}
.submit-btn:hover {
  color: var(--orange);
  background-color: white;
}

@media (min-width: 768px) {
  main {
    max-width: 360px;
  }
  .buttons-div {
    justify-content: space-between;
    gap: 1.2rem;
  }
  #message div p {
    font-size: .86rem;
  }
}
